/*Tema a elegir, dark-theme o light-theme*/
$theme: dark-theme;
$selection-color: rgb(99,102,241);

@font-face {
    font-family: Poppins-b;
    src: url(../fonts/Poppins-Bold.woff);
}


$scheme-total: (
    dark-theme: (
        backgroundc: rgb(31,41,55),
        font: rgb(209, 213, 219),
        family: "Poppins"
    ),
    light-theme: (
        backgroundc: #FFFFFF,
        font: #000000,
        family: arial
    )
);

@keyframes animation-one{
    0%{
        width:260px;
        height:260px;
        top:10vh;
        left:-4;
    }
    100%{
        width:300px;
        height:300px;
        top:-130px;
        left:130;
    }
}

@keyframes animation-two{
    0%{
        width:260px;
        height:260px;
        top:10vh;
        right:0;
    }
    100%{
        width:300px;
        height:300px;
        top:-130px;
        right:130;
    }
}

@keyframes animation-card{
    0%{
        opacity:1;
    }
    50%{
        opacity:0.5;
    }
    100%{
        opacity:1;
    }
}

@keyframes carousel{
    0%{
        transform:translateX(0);
    }
    10%{
        transform:translateX(-300px);
    }
    15%{
        transform:translateX(-300px);
    }
    20%{
        transform:translateX(-600px);
    }
    25%{
        transform:translateX(-600px);
    }
    30%{
        transform:translateX(-900px);
    }
    35%{
        transform:translateX(-900px);
    }
    40%{
        transform:translateX(-1200px);
    }
    45%{
        transform:translateX(-1200px);
    }
    50%{
        transform:translateX(-1500px);
    }
    100%{
        transform:translateX(0);
    }
}